<div>
 <h1>Bienvenido</h1>

 
 <p>Podes probar las funcionalidades de los protocolos http, con las siguientes rutas:
<br>
<br><br>
/api/products => Para la carga de productos<br> 
/api/carts => agregar los prod en el carrito <br>
/chat => Para probar la funcionalidad de chat. <br>
 </p>

 <h2>Espero que esta informacion sea de ayuda</h2>
  </div>
