<body class="align">
  <nav class="navigation navigation--inline">
    {{#if loggedin}}
    <div class="userinfo">
      <h4>Bienvenido: {{user}}</h4>
      <div class="finishSession">
        <a id="link" href="/api/session/logout">Terminar sesion</a>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        
      </div>
      
    </div>
      {{/if}}
    <ul>
      <!-- Si nos hemos loggeado tenemos acceso a las funcionalidades para ver productos, carts y usuarios  -->
      {{#if loggedin}}
      <li>
        <a href="/api/products">
          <img src="../images/shipping.png" alt="products">
          <span class="invisible">Products</span>
        </a>
      </li>
      <li>
        <a href="/api/carts">
          <img src="../images/cart.png" alt="carts">
          <span class="invisible">Carts</span>
        </a>
      </li>
      <li>
        <a href="/api/docs">
          <img src="../images/document.png" alt="documentation">
          <span class="invisible">Docs</span>
        </a>
      </li>
            <li>
        <a href="/api/users/documents">
          <img src="../images/resume.png" alt="User Documents">
          <span class="invisible">Profile</span>
        </a>
      </li>

      {{/if}}


 {{#unless loggedBoolean}}
      <li>
        <a href="/api/session/login">
          <img src="../images/login.png" alt="login">
         <span class="invisible">Login</span>
        </a>
      </li>
      <li>
        <a href="/api/session/register">
          <img src="../images/newuser.png" alt="newuser">
          <span class="invisible">Register</span>
        </a>
      </li>
 {{/unless }}

            {{#if loggedin}}


            {{#if isAdmin}}
      <li>
        <a href="/api/users/premium">
          <img src="../images/users.png" alt="users">
          <span class="invisible">Users</span>
        </a>
      </li>
      {{/if}}


      {{/if}}
    </ul>
  </nav>


<a id="botonflotador" href="/api/chat" >
  <img src="../images/chat.png" alt="Bot贸n Flotante">
</a>

</body>
<!-- <header> -->
<!--     <nav class="navbar"> -->
<!--     <div class="indexLogo"> -->
<!--       <img src="" alt="Logo"> -->
<!--     </div> -->
<!--     <div class="actions"> -->
<!--       <button class="btn">Bot贸n 1</button> -->
<!--       <button class="btn">Bot贸n 2</button> -->
<!--       <button class="btn">Bot贸n 3</button> -->
<!--     </div> -->
<!--   </nav> -->
<!-- </header> -->


<!-- <div> -->
<!--  <h1>Bienvenido</h1> -->

<!--   -->
<!--  <p>Podes probar las funcionalidades de los protocolos http, con las siguientes rutas: -->
<!-- <br> -->
<!-- <br><br> -->


<!-- <a href="/api/products"> -->
<!--   /api/products => Para la carga de productos en la base de datos de mongo <br>  -->
<!-- </a> -->

<!-- <a href="/api/carts"> -->
<!--   /api/carts => Para la creacion y carga de productos en carritos de compra.  <br> -->
<!-- </a> -->

<!-- <a href="/api/chat"> -->
<!-- /api/chat => Para probar la funcionalidad de chat, estos mensajes son guardados en la base de datos de mongo. <br> -->
<!-- </a> -->

<!-- <a href="/api/session/login"> -->
<!--   Haz click aca para iniciar sesion.  -->
<!-- </a> -->
<!-- <br> -->
<!-- <a href="/api/session/register"> -->
<!--   Haz click aca para registrarse. -->
<!-- </a> -->
<!-- <br> -->
<!-- <a href="/api/session/current"> -->
<!--   Informacion sobre la sesion actual -->
<!-- </a> -->
<!-- <br> -->
<!-- <a href="/api/users/premium"> -->
<!--   Cambiar rol de usuario (Necesitas ser administrador) -->
<!-- </a> -->
<!-- <br> -->

<!-- <a href="/api/products/mockingproducts"> -->
<!--   Mocking products -->
<!-- </a> -->
<!-- <br> -->
<!-- <a href="/api/loggertest"> -->
<!--   Prueba de logueo segun entorno de desarrollo -->
<!-- </a> -->









<!--  </p> -->

<!--   </div> -->

 
