<body class="align">
  <nav class="navigation navigation--inline">
    {{#if loggedin}}
    <div class="userinfo">
      <h4>Bienvenido: {{user}}</h4>
      <div class="finishSession">
        <a id="link" href="/api/session/logout">Terminar sesion</a>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        
      </div>
      
    </div>
      {{/if}}
    <ul>

      {{#if loggedin}}
      <li>
        <a href="/api/products">
          <img src="../images/shipping.png" alt="products">
          <span class="invisible">Products</span>
        </a>
      </li>
      <li>
        <a href="/api/carts">
          <img src="../images/cart.png" alt="carts">
          <span class="invisible">Carts</span>
        </a>
      </li>
      <li>
        <a href="/api/docs">
          <img src="../images/document.png" alt="documentation">
          <span class="invisible">Docs</span>
        </a>
      </li>
            <li>
        <a href="/api/users/documents">
          <img src="../images/resume.png" alt="User Documents">
          <span class="invisible">Profile</span>
        </a>
      </li>

      {{/if}}


 {{#unless loggedBoolean}}
      <li>
        <a href="/api/session/login">
          <img src="../images/login.png" alt="login">
         <span class="invisible">Login</span>
        </a>
      </li>
      <li>
        <a href="/api/session/register">
          <img src="../images/newuser.png" alt="newuser">
          <span class="invisible">Register</span>
        </a>
      </li>
 {{/unless }}

            {{#if loggedin}}


            {{#if isAdmin}}
      <li>
        <a href="/api/users/premium">
          <img src="../images/users.png" alt="users">
          <span class="invisible">Users</span>
        </a>
      </li>
      {{/if}}


      {{/if}}
    </ul>
  </nav>


<a id="botonflotador" href="/api/chat" >
  <img src="../images/chat.png" alt="Botón Flotante">
</a>

</body>
 
